.container {
  display: flex;
  justify-content: center;  
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #34d399, #3b82f6);
}

.box {
  padding: 20px;
  width: 350px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}